.first-button {
  margin-bottom: 2rem;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #0bb83f;
  color: rgb(218, 218, 218);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, padding 0.3s ease;
}

/* Optionales Verkleinern bei Hover */
.first-button:hover {
  transform: scaleX(0.95); /* leicht schmaler beim Hover */
}

/* Button-Text */
.first-button-label {
  display: inline-block;
  text-decoration: none;
}

/* Responsive Anpassung */
@media (max-width: 1000px) {
  .first-button {
    padding: 8px 12px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
