
  /* Navigation */
  .nav-list {

    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;

  }
  
  
  .nav-list a {

    color: #eee;
    text-decoration: none;
    font-size: 18px;

  }
  
  .nav-list a:hover {

    color: #0c6baa;
    text-decoration: underline;

  }
  .nav-list a {
  position: relative;
  color: #eee;
  text-decoration: none;
  transition: color 0.5s ease;
}

.nav-list a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #0c6baa;
  transition: width 0.4s ease;
}

.nav-list a:hover {

  text-decoration: none;
  color: #0c6baa;
  
}

.nav-list a:hover::after {
  width: 100%;
}
  
  /* Hamburger-Menü */
  .menu-toggle {

    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: #eee;
    cursor: pointer;

}


.kurz {
   display: none;
}
.lang {
    display: inline;
}

@media (max-width: 1000px) {

        .kurz {
        display: inline;
      }

      .lang {
        display: none;
} }

  

@media (max-width: 800px) {

      .nav-list {
        gap: .35rem;
     
} }
