/* Reset & base */
body {

    margin: 0rem;

  }
  
  /* Header */
  .header {

    position: relative;
    background-color: #222;
    padding: 2.5rem 2.5rem;
    z-index: 1000;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;

  }
  


  /* Hintergrundbild */
  .header-background {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.35;
    z-index: 0;

  }
  
  /* Inhalt über dem Bild */
  .header-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

  }
  
  /* Titel */
  .site-title {

    font-size: 28px;
    margin: 0;

  }
  .site-title {
  transition: color 0.3s;
}

.site-title:hover {
  color: #dddd;
}
